DATABASE_URL=postgres://postgres:postgres@localhost:55432/postgres
NODE_ENV=development
PORT=8006
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001
GUMLET_COLLECTION_ID=6820cc2ca2826ae53980ea9a
GUMLET_API_KEY=gumlet_f7c8d05c29bcd70c0b3341cb5791d922